# Python
backend/venv/
backend/__pycache__/
backend/db.sqlite3
backend/*.log

# Node
frontend/node_modules/
frontend/dist/
frontend/.angular/

# Environment files
.env
.env.*

# OS
.DS_Store
Thumbs.db
