# Python virtual environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Logs
*.log

# Environment variables
.env
.env.*

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test / coverage
.coverage
htmlcov/
.pytest_cache/
